<h2 class="title_information title__bold">CONDITIONS GÉNÉRALES D'UTILISATION</h2>
      <div class="section_information_content">
        <div class="section_information_content_item">
          <div class="section_information_content_item_text">
            <h3>Préambule / Avant-propos</h3>
            <p>
              La présente charte définit les modalités d’utilisation du site iliketrainsbot.
              Le site permet la consultation en ligne d’informations sur iliketrainsbot, incluant des informations sur les
              différents collaborateurs, l’histoire de iliketrainsbot et les différents produits proposés. L’accès à une partie des
              données, est restreinte, accessible via connexion grâce à un email et un mot de passe, pour garantir la
              sécurité des données personnelles de l’utilisateur.
              Toute personne naviguant sur le site est considérée comme un utilisateur, qu’elle soit connectée ou non.
            </p>
          </div>
        </div>
        <div class="section_information_content_item">
          <div class="section_information_content_item_text">
            <h3>Acceptation de la charte d’utilisation</h3>
            <p>
              En utilisant le site iliketrainsbot, l’utilisateur accepte de respecter les conditions d’utilisations et de navigation
              définies dans la présente charte. La charte pouvant être modifiée à tout moment par l’éditeur sans
              notification préalable, il appartient à l’utilisateur du site de la consulter régulièrement. L’utilisateur est
              considéré comme avoir accepté la dernière version de la charte à chaque nouvelle connexion au site.
              Toute connexion au site est subordonnée au respect de la présente charte.
            </p>
          </div>
        </div>
        <div class="section_information_content_item">
          <div class="section_information_content_item_text">
            <h3>Engagement de l’utilisateur</h3>
            <p>
              L’utilisateur s’engage à n’enfreindre aucune loi ou règlement. Les points suivant sont interdits, sous
              peine, le cas échéant, de sanctions pénales :
              - l’atteinte à la vie privée d’autrui. Dans ce cadre, l’envoi de messages électroniques non sollicités aux
              utilisateurs du site est interdit ;
              - la diffamation et l’injure ;
              - l’incitation aux crimes et délits et la provocation à la discrimination, au racisme ou à la haine en tout
              genre, au suicide, à la violence ;
              - l’apologie de tous les crimes, notamment meurtre, viol, crime de guerre, crimes contre l’humanité ;
              - la reproduction ou rediffusion d’une œuvre soumise à des droits de propriété intellectuelle ne le
              permettant pas ;
              - la publicité ou les messages ou contenus de quelque nature que ce soit à vocation commerciale.
            </p>
          </div>
        </div>
        <div class="section_information_content_item">
          <div class="section_information_content_item_text">
            <h3>Droits de iliketrainsbot</h3>
            <p>
              iliketrainsbot se réserve le droit à tout moment de :
              - supprimer immédiatement et sans mise en demeure préalable tout contenu de quelle que nature qu’il
              soit, et notamment tout message, toute photographie ou graphique qui contreviendrait aux lois et
              règlements en vigueur et notamment aux réglementations ci-dessus évoquées.
              - modifier la charte pour quelle que raison ce soit. La charte en ligne prévaut sur la charte imprimée. Il
              appartient à l’utilisateur de se tenir informé des modifications de la charte. Si une ou plusieurs des
              dispositions de la présente charte était invalidée pour quelle que raison que ce soit, les autres dispositions
              garderont toute leur force et leur portée.
              - interrompre ou suspendre tout ou partie du site ou encore de modifier, ajouter ou amender le site existant
              pour en améliorer les facilités d’utilisation ou l’enrichir et ce sans obligation d’information préalable, ni
              d’indemnisation quelconque.
              - mettre fin à tout ou partie du droit d’accès, supprimer le compte et mot de passe, retirer tout contenu
              diffusé et résilier, de plein droit et sans indemnité ni préavis, toute adhésion concernant tout utilisateur
              n’ayant pas respecté l’une quelconque des dispositions de la présente charte.
              - changer tout ou partie des identifiants notamment pour des raisons d’ordre technique ou de sécurité sans
              que l’utilisateur puisse réclamer une quelconque indemnité.
            </p>
          </div>
        </div>
        <div class="section_information_content_item">
          <div class="section_information_content_item_text">
            <h3>Droits de propriété intellectuelle</h3>
            <p>
              iliketrainsbot est titulaire de la totalité des droits de propriété intellectuelle et droits d’utilisation afférents aux
              éléments contenus dans le site, recouvrant , sans que ceci soit limitatif, les noms de domaine, les marques
              et logos, les graphismes et illustrations, les images et photographies, les articles, les documents, les bases
              de données comprenant notamment les informations d’actualités ainsi que les logiciels spécifiques
              développés pour l’utilisation du site.
              L’utilisateur s’interdit toute utilisation commerciale, directe ou indirecte, du site et de ses contenus, et
              donc toute reproduction des contenus du site en vue de la modification, la vente, la réédition, la
              communication, la diffusion en ligne, l’exploitation directe ou indirecte, dans un but commercial de tout
              ou partie des éléments incorporels du site, de ses services ou du droit d’accès au site.
              L’utilisateur dispose d’un droit d’utilisation pour un usage non commercial à des fins privées,
              professionnelles ou non, avec droit de reproduction, de modification, de diffusion et de stockage, sous
              réserve de la citation de l’auteur et de la source. Il s’agit d’un droit personnel et non transmissible.
            </p>
          </div>
        </div>
        <div class="section_information_content_item">
          <div class="section_information_content_item_text">
            <h3>Sécurité</h3>
            <p>
              L’utilisateur reconnaît que, Internet présente des spécificités techniques qui impliquent l’impossibilité de
              garantir la continuité absolue de l’accès au service et des temps de réponse, ainsi que la sécurité dans la
              transmission des données.
              En toutes hypothèses, l’utilisateur admet que les informations et services proposés sur le site iliketrainsbot :
              - pourront être interrompus pour des cas de force majeure ou indépendants de la volonté de iliketrainsbot ou de
              faits ne relevant pas de sa responsabilité,
              - pourront contenir des erreurs de nature technique ou humaine,
              - pourront introduire des pertes de données ponctuelles.
            </p>
          </div>
        </div>
        <div class="section_information_content_item">
          <div class="section_information_content_item_text">
            <h3>Respect de l’intégrité et de la sécurité informatique</h3>
            <p>
              L’utilisateur s’engage à respecter la réglementation en vigueur en matière de fraude informatique, et à ce
              titre, à s’abstenir de tenter une intrusion dans un système de traitement automatisé de données ou
              d’altérer, totalement ou partiellement les éléments qu’il contient. Il est informé que de tels actes sont
              passibles de sanctions pénales. Il appartient également à l’utilisateur de ne pas transmettre d’éléments
              contenant des virus, d’utiliser le site pour toute action malveillante de type piratage ou autre hacking.
            </p>
          </div>
        </div>
        <div class="section_information_content_item">
          <div class="section_information_content_item_text">
            <h3>Indemnisation</h3>
            <p>
              L’utilisateur pourra être contraint à indemniser iliketrainsbot en cas de dommage ou réclamation émanant de
              tiers consécutif à l’envoi, la diffusion ou la transmission de contenu par l’utilisateur ou à l’utilisation du
              site de manière non autorisée ou au non-respect des dispositions de la charte.
            </p>
          </div>
        </div>
        <div class="section_information_content_item">
          <div class="section_information_content_item_text">
            <h3>Garantie / Qualité</h3>
            <p>
              iliketrainsbot ne garantit pas la conformité du site à un besoin ou un usage spécifique, ni à un fonctionnement
              exempt d’interruptions, d’erreurs, de perturbations, de virus ou de défaillance, quelle qu’en soit la cause.
              De manière générale, iliketrainsbot ne garantit pas la complétude, l’exhaustivité et l’exactitude du contenu des
              informations et des services proposés sur le site, iliketrainsbot mettant tous les moyens disponibles en œuvre
              afin d’offrir aux utilisateurs un contenu de qualité.
              En toutes hypothèses, la responsabilité de iliketrainsbot ne pourra être recherchée au titre de l’utilisation que
              fera l’utilisateur des informations et des services proposés sur le site.
            </p>
          </div>
        </div>
        <div class="section_information_content_item">
          <div class="section_information_content_item_text">
            <h3>Mots de passe</h3>
            <p>
              L’utilisateur est responsable des mots de passes qui lui sont attribués pour l’accès et la mise en œuvre des
              services à accès restreints du site.
              Il lui appartient de :
              - mettre en œuvre les mesures de précaution et de sécurité nécessaires à la protection de ses identifiants et
              mots de passe,
              - contacter iliketrainsbot par le biais due facebook, le plus rapidement possible, dans le cas d’un vol,
              d’une perte, d’une utilisation de ses identifiants par un tiers non autorisé.
              iliketrainsbot ne pourra pas être tenu responsable de l’utilisation frauduleuse d’identifiants utilisés par un tiers
              les ayant subtilisés.
            </p>
          </div>
        </div>
      </div>